---
import ImagePage from '../ImagePage.astro';
import AboutSocialNetworks from './AboutSocialNetworks.astro';
import type { SocialNetwork } from '@/types/about.type';

interface Props {
  userIcon: string;
  userName: string;
  userRole: string;
  socialNetworks: SocialNetwork[];
}

const { userIcon, userName, userRole, socialNetworks } = Astro.props;
---

<ImagePage imageSrc={userIcon} imageAlt={userName} imageSize={96} imageClass="rounded-full" />
<h5
  class="mb-1 text-xl font-medium text-dark-primary dark:text-light-secondary group-hover:text-green-light-primary"
>
  {userName}
</h5>
<span
  class="text-sm text-dark-subtitle dark:text-dark-subtitle group-hover:text-light-paragraph dark:group-hover:text-dark-subtitle"
>
  {userRole}
</span>
<div class="flex mt-4 md:mt-2 gap-2">
  <AboutSocialNetworks userSocialNetworks={socialNetworks} />
</div>
