---
import BaseLayout from '@/layouts/BaseLayout.astro';
import TitlePage from '@/components/TitlePage.astro';
import LinkedinIcon from '@/icons/Linkedin.astro';
import { Image } from 'astro:assets';

const aboutUser = [
  {
    icon: 'https://avatars.githubusercontent.com/u/158519820?s=400&u=3600dbffa81b44fc57d7e7e29a156e21da029c69&v=4',
    name: 'Marco Baltazar',
    role: 'FullStack Software Developer',
    socialNetworks: [
      {
        mediaName: 'linkedin',
        link: 'https://www.linkedin.com/in/marco-antonio-baltazar-santos',
        svgIcon:
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>',
      },
      {
        mediaName: 'github',
        link: 'https://github.com/polacodev',
        svgIcon:
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>',
      },
      {
        mediaName: 'gmail',
        link: 'mailto:mabsbaltazar@gmail.com',
        svgIcon:
          '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" fill="currentColor" clip-rule="evenodd"><path d="M22.288 21h-20.576c-.945 0-1.712-.767-1.712-1.712v-13.576c0-.945.767-1.712 1.712-1.712h20.576c.945 0 1.712.767 1.712 1.712v13.576c0 .945-.767 1.712-1.712 1.712zm-10.288-6.086l-9.342-6.483-.02 11.569h18.684v-11.569l-9.322 6.483zm8.869-9.914h-17.789l8.92 6.229s6.252-4.406 8.869-6.229z"/></svg>',
      },
    ],
  },
  {
    icon: 'https://mir-s3-cdn-cf.behance.net/user/115/f45c83559958743.65d6435d2e2c7.jpg',
    name: 'Gerardo Escalante',
    role: 'UI / UX Designer',
    socialNetworks: [
      {
        mediaName: 'linkedin',
        link: 'https://www.linkedin.com/in/gerardoescalanteleal',
        svgIcon:
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>',
      },
      {
        mediaName: 'behance',
        link: 'https://www.behance.net/gerardoescalan',
        svgIcon:
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M22 7h-7v-2h7v2zm1.726 10c-.442 1.297-2.029 3-5.101 3-3.074 0-5.564-1.729-5.564-5.675 0-3.91 2.325-5.92 5.466-5.92 3.082 0 4.964 1.782 5.375 4.426.078.506.109 1.188.095 2.14h-8.027c.13 3.211 3.483 3.312 4.588 2.029h3.168zm-7.686-4h4.965c-.105-1.547-1.136-2.219-2.477-2.219-1.466 0-2.277.768-2.488 2.219zm-9.574 6.988h-6.466v-14.967h6.953c5.476.081 5.58 5.444 2.72 6.906 3.461 1.26 3.577 8.061-3.207 8.061zm-3.466-8.988h3.584c2.508 0 2.906-3-.312-3h-3.272v3zm3.391 3h-3.391v3.016h3.341c3.055 0 2.868-3.016.05-3.016z"/></svg>',
      },
      {
        mediaName: 'gmail',
        link: 'mailto:gescalanteleal@gmail.com',
        svgIcon:
          '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" fill="currentColor" clip-rule="evenodd"><path d="M22.288 21h-20.576c-.945 0-1.712-.767-1.712-1.712v-13.576c0-.945.767-1.712 1.712-1.712h20.576c.945 0 1.712.767 1.712 1.712v13.576c0 .945-.767 1.712-1.712 1.712zm-10.288-6.086l-9.342-6.483-.02 11.569h18.684v-11.569l-9.322 6.483zm8.869-9.914h-17.789l8.92 6.229s6.252-4.406 8.869-6.229z"/></svg>',
      },
    ],
  },
  {
    icon: 'https://example.com/readyplayerone.jpg',
    name: 'Diego Sivila',
    role: 'QA Engineer',
    socialNetworks: [
      {
        mediaName: 'linkedin',
        link: 'https://www.linkedin.com/in/diego-fernando-sivila-ram%C3%ADrez-9a4bb710b',
        svgIcon:
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>',
      },
      {
        mediaName: 'gmail',
        link: 'mailto:diego.dfsr45@gmail.com',
        svgIcon:
          '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" fill="currentColor" clip-rule="evenodd"><path d="M22.288 21h-20.576c-.945 0-1.712-.767-1.712-1.712v-13.576c0-.945.767-1.712 1.712-1.712h20.576c.945 0 1.712.767 1.712 1.712v13.576c0 .945-.767 1.712-1.712 1.712zm-10.288-6.086l-9.342-6.483-.02 11.569h18.684v-11.569l-9.322 6.483zm8.869-9.914h-17.789l8.92 6.229s6.252-4.406 8.869-6.229z"/></svg>',
      },
    ],
  },
];
---

<BaseLayout>
  <div class="flex px-4 pt-4 dark:border-gray-700">
    <div>
      <TitlePage>DevLi</TitlePage>
      <p
        class="xl:px-32 lg:px-16 md:px-4 sm:px-1 mb-10 xl:text-2xl lg:text-lg md:text-base sm:text-sm font-normal dark:text-gray-400"
      >
        DevLi is a web site to help the engineers and provide the best options of libraries at the
        moment to work on projects.<br />
        <br />We decided to join forces to create DevLi with the purpose of facilitating the path
        for developers in the search for better techniques that will solve problems or needs
        applicable in projects developed in Javascript, Python, Java, etc.
      </p>
    </div>
  </div>
  <div class="flex flex-wrap gap-2 lg:gap-24 md:gap-12 sm:gap-6 justify-center">
    {
      aboutUser.map((user) => {
        return (
          <div class="group w-full max-w-sm border rounded-lg border-gray-300 dark:border-gray-600 hover:border-[#9ccc16] dark:hover:border-[#9ccc16] dark:hover:text-[#9ccc16]">
            <div class="flex flex-col items-start p-6">
              <picture>
                <Image
                  src={user.icon}
                  alt={user.name}
                  width="96"
                  height="96"
                  class="rounded-full"
                  loading={'eager'}
                />
              </picture>
              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{user.name}</h5>
              <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-[#1F2E05] dark:group-hover:text-gray-400">
                {user.role}
              </span>
              <div class="flex mt-4 md:mt-2 gap-2">
                {user.socialNetworks.map((media) => {
                  return (
                    <a
                      href={media.link}
                      aria-label={media.mediaName}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <button
                        type="button"
                        class="text-gray-800 hover:bg-[#9ccc16] dark:text-white dark:hover:text-gray-800 rounded-lg text-sm p-2.5"
                      >
                        <Fragment set:html={media.svgIcon} />
                      </button>
                    </a>
                  );
                })}
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>
